body {
    width: 720px;
    padding: 54px;
    border: solid left 6px #dddddd;
    color: #444444;
    font-family: lato;
    line-height: 1.5;
}

h1 {
   color: #DD0000;
   font-size: 50px;
   font-weight: 200;
   margin-bottom: 5px;
}

h3 {
    color: black;
    font-size: 20px;
    font-weight: 200;
    margin: 5px 0px;
}

nav {
    margin: 10px 0px;
}

.date {
    color: #cccccc;
    font-size: 35px;
    font-weight: 200;
    margin: 0px 0px 0px 0px;
}

.title {
    color: black;
    font-size: 35px;
    font-weight: 200;
    margin: 2px 0px 5px 0px;
}

.copyright {
    color: #bbbbbb;
}

a {
    color: #dddddd;
    padding: 0px 5px;
}

a:hover {
    color: black;
}

section a {
    color: #DD0000;
    font-weight: 700;
    padding: 0px 0px 0px 610px;
    text-decoration: none;
}

section a:hover {
    color: #aa0000;
}

footer a {
    color: #DD0000; 
    text-decoration: none;
}

footer a:hover {
    color: #aa0000;
}

section {
    margin:50px 0px;
}

hr{
    border: .5px solid #dddddd;
 }