body {
    text-align: center;
    color: darkturquoise;
    background: mintcream;
    font-family: helvetica;
}
h1 {
    text-align: center;
}
a {
    color: darkturquoise;
    font-weight: bold;
    text-decoration: none;
}
img{
    border: deeppink solid 2px;
}