header {
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 1px 1px #eeeeee;
}

/* THIS IS THE MENU */

.large-nav {
    margin: 0px 10px;
    font-size: 20px;
}

header a:hover {
    color: #f4db3c;
}

.hamburg {
    display: none;
}

.dropdown {
    display: none;
    position: fixed;
    background-color: #f4db3c;
    top: 89px;
    right: 0;
    left: 0;
    height: 12%;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: .5px;
    color: black;
    margin-bottom: 5px;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

/* THIS IS THE BODY */

body {
    background-image: url('../img/bg.png');
    background-size: 50%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: white;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    padding: 100px 5px 0px 5px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 40px;
    margin: 20px 0px 0px 0px;
}

p {
    font-size: 16px;
}

.p-header {
    font-size: 20px;
    margin: 0px 0px 30px 0px;
}

.all-cards {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 20px 0px;
    margin: 0px 50px;
}


.card-text {
    text-align: left;
    margin: 5px 0px;   
}

h1, p {
    margin: 0 auto;
}

.img {
    border: 3px solid #f4db3c;
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 100;
}

/* THIS IS THE ABOUT PAGE */

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.bio {
    text-align: center;
    margin: 0px 200px;
}

.about-text {
    font-size: 18px;
    padding: 0px 100px;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
	.hamburg {
		display: block;
	}
	.large-nav {
		display: none;
    }
    .about-text {
        padding: 0px 50px;
    }
}

@media (max-width: 755px) {
    .bio {
        margin: 0px 100px;
    }
}

@media (max-width: 570px) {
    h1 {
        font-size: 25px;
    }
    .about-text {
        font-size: 15px;
        padding: 0px;
    }
    .bio {
        margin: 0px 50px;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 30px;
        }
    .p-header {
        font-size: 15px;
    }
    h1 {
        font-size: 27px;
    }
}